<html>
	<head>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- Include the above in your HEAD tag -->
		<link rel="stylesheet" type="text/css" href="<?=site_url('/assets/css/fonte.css')?>">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="<?=site_url('/assets/css/style.login.css')?>">
	</head>
	<body>
		
    			<!-- Tabs Titles -->

    			<!-- Icon -->
    
				<div class="container">

					<div class="row">
						<!-- <div class="col-sm- "></div> -->
						<div class="col-sm-12 ">

					        <div class="inbox_people ">
								<div class="headind_srch">
									<div class="recent_heading">
										<h4>Liste de mes inventaires</h4>
									</div>
										
								</div>
					          	<div class="inbox_chat">
					            	<div class="chat_list active_chat">
					              		<div class="chat_people">
					                	
					                		<div class="chat_ib">
						                  		<h5>Sunil Rajput <span class="chat_date">Le 01/07/2020 à 22H 25min 34s</span></h5>
						                  		<p>la description</p>
					                		</div>
					                		<div class="chat_img" title="la forme"> 
					                			<i style="color:green;margin-left:.3em" class="fa fa-check fa-2x" aria-hidden="true"></i> 
					                		</div>
					              		</div>
						            </div>
						            <div class="chat_list active_chat">
						              	<div class="chat_people">
						                	
						                	<div class="chat_ib">
						                  		<h5>Sunil Rajput <span class="chat_date">Le 01/07/2020 à 22H 25min 34s</span></h5>
						                  		<p>la description</p>
						                	</div>
						                	<div class="chat_img" title="la forme"> <i style="color:orange;margin-left:.3em" class="fa fa-reply fa-2x" aria-hidden="true"></i> </div>
						              	</div>
						            </div>
					            	<div class="chat_list active_chat">
					              		<div class="chat_people">
					                	
					                		<div class="chat_ib">
						                  		<h5>Sunil Rajput <span class="chat_date">Le 01/07/2020 à 22H 25min 34s</span></h5>
						                  		<p>la description</p>
					                		</div>
					                		<div class="chat_img" title="la forme"> 
					                			<i style="color:green;margin-left:.3em" class="fa fa-check fa-2x" aria-hidden="true"></i> 
					                		</div>
					              		</div>
						            </div>
						            <div class="chat_list active_chat">
						              	<div class="chat_people">
						                	
						                	<div class="chat_ib">
						                  		<h5>Sunil Rajput <span class="chat_date">Le 01/07/2020 à 22H 25min 34s</span></h5>
						                  		<p>la description</p>
						                	</div>
						                	<div class="chat_img" title="la forme"> <i style="color:orange;margin-left:.3em" class="fa fa-reply fa-2x" aria-hidden="true"></i> </div>
						              	</div>
						            </div>
					            	<div class="chat_list active_chat">
					              		<div class="chat_people">
					                	
					                		<div class="chat_ib">
						                  		<h5>Sunil Rajput <span class="chat_date">Le 01/07/2020 à 22H 25min 34s</span></h5>
						                  		<p>la description</p>
					                		</div>
					                		<div class="chat_img" title="la forme"> 
					                			<i style="color:green;margin-left:.3em" class="fa fa-check fa-2x" aria-hidden="true"></i> 
					                		</div>
					              		</div>
						            </div>
						            <div class="chat_list active_chat">
						              	<div class="chat_people">
						                	
						                	<div class="chat_ib">
						                  		<h5>Sunil Rajput <span class="chat_date">Le 01/07/2020 à 22H 25min 34s</span></h5>
						                  		<p>la description</p>
						                	</div>
						                	<div class="chat_img" title="la forme"> <i style="color:orange;margin-left:.3em" class="fa fa-reply fa-2x" aria-hidden="true"></i> </div>
						              	</div>
						            </div>
					            	<div class="chat_list active_chat">
					              		<div class="chat_people">
					                	
					                		<div class="chat_ib">
						                  		<h5>Sunil Rajput <span class="chat_date">Le 01/07/2020 à 22H 25min 34s</span></h5>
						                  		<p>la description</p>
					                		</div>
					                		<div class="chat_img" title="la forme"> 
					                			<i style="color:green;margin-left:.3em" class="fa fa-check fa-2x" aria-hidden="true"></i> 
					                		</div>
					              		</div>
						            </div>
						            <div class="chat_list active_chat">
						              	<div class="chat_people">
						                	
						                	<div class="chat_ib">
						                  		<h5>Sunil Rajput <span class="chat_date">Le 01/07/2020 à 22H 25min 34s</span></h5>
						                  		<p>la description</p>
						                	</div>
						                	<div class="chat_img" title="la forme"> <i style="color:orange;margin-left:.3em" class="fa fa-reply fa-2x" aria-hidden="true"></i> </div>
						              	</div>
						            </div>
					            	<div class="chat_list active_chat">
					              		<div class="chat_people">
					                	
					                		<div class="chat_ib">
						                  		<h5>Sunil Rajput <span class="chat_date">Le 01/07/2020 à 22H 25min 34s</span></h5>
						                  		<p>la description</p>
					                		</div>
					                		<div class="chat_img" title="la forme"> 
					                			<i style="color:green;margin-left:.3em" class="fa fa-check fa-2x" aria-hidden="true"></i> 
					                		</div>
					              		</div>
						            </div>
						            <div class="chat_list active_chat">
						              	<div class="chat_people">
						                	
						                	<div class="chat_ib">
						                  		<h5>Sunil Rajput <span class="chat_date">Le 01/07/2020 à 22H 25min 34s</span></h5>
						                  		<p>la description</p>
						                	</div>
						                	<div class="chat_img" title="la forme"> <i style="color:orange;margin-left:.3em" class="fa fa-reply fa-2x" aria-hidden="true"></i> </div>
						              	</div>
						            </div>
					            	<div class="chat_list active_chat">
					              		<div class="chat_people">
					                	
					                		<div class="chat_ib">
						                  		<h5>Sunil Rajput <span class="chat_date">Le 01/07/2020 à 22H 25min 34s</span></h5>
						                  		<p>la description</p>
					                		</div>
					                		<div class="chat_img" title="la forme"> 
					                			<i style="color:green;margin-left:.3em" class="fa fa-check fa-2x" aria-hidden="true"></i> 
					                		</div>
					              		</div>
						            </div>
						            <div class="chat_list active_chat">
						              	<div class="chat_people">
						                	
						                	<div class="chat_ib">
						                  		<h5>Sunil Rajput <span class="chat_date">Le 01/07/2020 à 22H 25min 34s</span></h5>
						                  		<p>la description</p>
						                	</div>
						                	<div class="chat_img" title="la forme"> <i style="color:orange;margin-left:.3em" class="fa fa-reply fa-2x" aria-hidden="true"></i> </div>
						              	</div>
						            </div>
					            	<div class="chat_list active_chat">
					              		<div class="chat_people">
					                	
					                		<div class="chat_ib">
						                  		<h5>Sunil Rajput <span class="chat_date">Le 01/07/2020 à 22H 25min 34s</span></h5>
						                  		<p>la description</p>
					                		</div>
					                		<div class="chat_img" title="la forme"> 
					                			<i style="color:green;margin-left:.3em" class="fa fa-check fa-2x" aria-hidden="true"></i> 
					                		</div>
					              		</div>
						            </div>
						            <div class="chat_list active_chat">
						              	<div class="chat_people">
						                	
						                	<div class="chat_ib">
						                  		<h5>Sunil Rajput <span class="chat_date">Le 01/07/2020 à 22H 25min 34s</span></h5>
						                  		<p>la description</p>
						                	</div>
						                	<div class="chat_img" title="la forme"> <i style="color:orange;margin-left:.3em" class="fa fa-reply fa-2x" aria-hidden="true"></i> </div>
						              	</div>
						            </div>
					            	<div class="chat_list active_chat">
					              		<div class="chat_people">
					                	
					                		<div class="chat_ib">
						                  		<h5>Sunil Rajput <span class="chat_date">Le 01/07/2020 à 22H 25min 34s</span></h5>
						                  		<p>la description</p>
					                		</div>
					                		<div class="chat_img" title="la forme"> 
					                			<i style="color:green;margin-left:.3em" class="fa fa-check fa-2x" aria-hidden="true"></i> 
					                		</div>
					              		</div>
						            </div>
						            <div class="chat_list active_chat">
						              	<div class="chat_people">
						                	
						                	<div class="chat_ib">
						                  		<h5>Sunil Rajput <span class="chat_date">Le 01/07/2020 à 22H 25min 34s</span></h5>
						                  		<p>la description</p>
						                	</div>
						                	<div class="chat_img" title="la forme"> <i style="color:orange;margin-left:.3em" class="fa fa-reply fa-2x" aria-hidden="true"></i> </div>
						              	</div>
						            </div>
					            	<div class="chat_list active_chat">
					              		<div class="chat_people">
					                	
					                		<div class="chat_ib">
						                  		<h5>Sunil Rajput <span class="chat_date">Le 01/07/2020 à 22H 25min 34s</span></h5>
						                  		<p>la description</p>
					                		</div>
					                		<div class="chat_img" title="la forme"> 
					                			<i style="color:green;margin-left:.3em" class="fa fa-check fa-2x" aria-hidden="true"></i> 
					                		</div>
					              		</div>
						            </div>
						            <div class="chat_list active_chat">
						              	<div class="chat_people">
						                	
						                	<div class="chat_ib">
						                  		<h5>Sunil Rajput <span class="chat_date">Le 01/07/2020 à 22H 25min 34s</span></h5>
						                  		<p>la description</p>
						                	</div>
						                	<div class="chat_img" title="la forme"> <i style="color:orange;margin-left:.3em" class="fa fa-reply fa-2x" aria-hidden="true"></i> </div>
						              	</div>
						            </div>
					        </div>
					    </div>
					</div>
						<div class="col-sm-3 "></div>
						<div class="col-sm-6 ">
						<div class="card moicard">
		  <a href="<?=site_url('index.php/admin/forminventaire')?>" class="btn btn-primary">Faire un inventaire</a>
					</div>
				</div>
				</div>
		
    </body>
</html>