<html>
 <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="style.css">
 </head>
 <title>Inventaire | Produits</title>

 <body>
 	<div class="container">
       <div class="card">
		  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
		  <div class="card-body">
		    <h5 class="card-title">Espace de connexion</h5>
		    <p class="card-text">
		    	<div class="row">
		    		<div class="col-sm-12">
		    			<input type="text" name="login" class="form-control" placeholder="Login"><br/>
		    			<input type="password" class="form-control" name="password" placeholder="Mot de passe"><br/>
		    			<input type="submit" class="btn btn-success" name="btnsubmit" value="Se connecté">
		    		</div>
		    	</div>
		    </p>
		  </div>
		</div>
 	</div>
    
 </body>
</html>